extend layout

block content
  a.logout(href='/auth/logout') Logout
  ol.howto
    li Sign In with Twitter
    li.onstep
      form(action='/', method='post')
        input(type='submit', value='Create a Question Session')
    li Share Session Link with Audience
