extend layout

block content
  ol.howto
    li.onstep
      a(href='/auth/twitter') Sign In with Twitter
    li Create a Question Session
    li Share Session Link with Audience
  p.about Add the link to your opening slide. Audience members will be able to post and upvote questions as you present. No microphone lines. No drawn out self-promotion. Just questions your audience wants answered. Sessions self-destruct after 48&nbsp;hours.
