doctype html
html
  head
    title Tiny Question
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-captable', content='yes')
    block head
    link(rel='stylesheet', href='/css/tinyquestion.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cookie')
  body
    .page-wrapper
      h1
        a(href='/') Tiny Question
      block content
    script(src='/js/jquery.min.js')
    block scripts
    script(src='/js/tinyquestion.js')
