doctype html
html
  head
    title Tiny Question
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-captable', content='yes')
    meta(name='description', content='A small tool for better conference QA Sessions')
    block head
    link(rel='stylesheet', href='/css/tinyquestion.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cookie')
    link(rel='apple-touch-icon', href='/img/touch-icon-iphone.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/touch-icon-ipad.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/touch-icon-iphone-retina.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/img/touch-icon-ipad-retina.png')
  body
    .page-wrapper
      h1
        a(href='/') Tiny Question
      block content
    script(src='/js/jquery.min.js')
    block scripts
    script(src='/js/tinyquestion.js')
